.list {
  display: flex;
  gap: 4px;

  &:not(.standalone) {
    margin-top: 32px;
    margin-bottom: -31px;
  }

  &.standalone {
    border-bottom: 1px solid #ccc;

    .tab {
      margin-bottom: -1px;
    }
  }
}

.tab {
  padding: 5px 6px;
  border: 1px solid #ccc;
  border-bottom-color: transparent !important;
  font-weight: bold;
  font-size: 12px;

  &:not(.active) {
    background: #ff3e540e;
    border-color: transparent !important;
  }
}

.active {
  background: #fff;
}