.list {
  display: flex;
  gap: 4px;

  &:not(.standalone) {
    margin-top: 32px;
    margin-bottom: -31px;
  }

  &.standalone {
    border-bottom: 1px solid #ccc;

    .tab {
      margin-bottom: -1px;
    }
  }

  &.layout-modern {
    border-bottom: unset;
    margin-left: -8px;
    margin-right: -8px;

    .tab {
      margin-bottom: unset;
    }
  }
}

.tab {
  padding: 5px 6px;
  border: 1px solid #ccc;
  border-bottom-color: transparent !important;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);

  &:not(.active) {
    background: #ff3e540e;
    border-color: transparent !important;
  }

  &.layout-modern {
    border: unset;
    padding: 6px 8px;
    font-weight: 500;
    text-decoration: none !important;
    border-radius: 6px;
    background: unset !important;

    &.active {
      font-weight: 600;
    }
  }
}

.active {
  background: #fff;
}