/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: normal;

  color: #000;
  background-color: #E3E3E3;

  display: flex;
  flex-direction: column;
  align-items: center;

  --link: #CC5A63;

  --big-avatar-size: 200px;
  --page-column-gap: 20px;
}

main {
  width: 1000px;
}

a {
  color: var(--link);

  &:not(:hover) {
    text-decoration: none;
  }
}

.content {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

header {
  background: #CC5A63;
  border-left: 1px solid #9b2735;
  border-right: 1px solid #9b2735;
}

strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}

h1 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

h3 {
  color: #6b252b;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  color: #999;
  font-size: 11px;
  font-weight: bold;
  cursor: default;
}

::selection {
  background: #d1163238;
}


.famfamfam-silk {
  background-image: url('/silk.png') !important;
  background-size: 512px 512px !important;
  background-repeat: no-repeat !important;
}

.famfamfam-silk.status_add {
  background-position: -127px -496px;
  width: 16px;
  height: 16px;
}