.hasParent {
  margin-left: 0;
}

.comment {
  display: flex;
  gap: 15px;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.textarea {
  appearance: none;
  background: unset;
  border: none;
  padding: 3px 5px;
  font: inherit;
  outline: none !important;

  margin: -3px -5px;

  min-width: 200px;
  max-width: 400px;
  min-height: 30px;
  max-height: 150px;

  &::placeholder {
    font-style: italic;
    color: var(--placeholder) !important;
    opacity: unset !important;
  }

  resize: none;

  &:hover {
    resize: both;
  }
}

.avatar {
  --w: 36px;

  width: var(--w) !important;
  height: var(--w) !important;
  border-radius: 3px;
}

.bubble {
  --bg: #fff7f8;
  --bg-bottom: #f1dadb;
  --shadow-top: #eedbde;
  --shadow: #bd9298;
  --placeholder: #35161a77;

  background: linear-gradient(180deg, var(--bg) 60%, var(--bg-bottom));
  text-shadow: 0 1px 0 0 #fce0e4;
  padding: 3px 8px 5px;
  border-radius: 4px;

  max-width: 400px;
  max-height: 150px;

  width: fit-content;

  margin: 1px 0 4px;

  font-size: 12px;

  position: relative;

  display: flex;
  flex-direction: column;

  &:before {
    content: '';
    display: block;
    position: absolute;

    top: 0;
    left: -6px;
    width: 0;
    height: 0;
    border: 5px solid var(--bg);
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  filter: drop-shadow(0 -1px 0 var(--shadow-top)) drop-shadow(0 1px 0 var(--shadow)) drop-shadow(1px 0 0 var(--shadow-top)) drop-shadow(-1px 0 0 var(--shadow-top)) drop-shadow(0 2px 0 #520e150e);
}

/*.ownBubble {
  --bg: #eee;
  --shadow: #ccc;
  --placeholder: #444;
}*/

.username {
  font-size: 11px;
  font-weight: bold;
}
.time {
  font-size: 11px;
  color: #999;
}

.comments {
  display: flex;
  flex-direction: column;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-top: 5px;

  &:not(.tree) {
    margin-left: -20px;
  }
}

.bottom {
  display: flex;
  gap: 6px;
}

.action {
  appearance: none;
  font: inherit;
  font-size: 11px;
  color: var(--link);
  border: none;
  padding: unset;
  background: unset;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}


.tree {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
  gap: 10px;
}