.top {
  background: linear-gradient(180deg, transparent, #be3d4c);
  padding: 12px 10px;

  display: flex;
  align-items: center;

  height: 56px;
}

.logos {
  flex: 1;
}

.logo {
  color: #fff;
  text-shadow: 0 2px 0 #881c29;
  text-decoration: none;

  font-size: 14px;
  font-weight: var(--font-weight-bold);
}

.search {
  font-size: 11px !important;
  height: 22px !important;
  border-radius: 50px !important;
  padding: 0 calc(10px + 12px) 0 10px !important;
}

.searchParent {
  margin: unset !important;
}

.searchContainer {
  border-radius: 50px;
  box-shadow: 0 2px 4px #881c29;

  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 6px;
    bottom: 0;

    background-image: url('/search.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;

    pointer-events: none;

    opacity: 0.9;
  }
}