.top {
  background: linear-gradient(180deg, transparent, #be3d4c);
  padding: 12px 10px;

  display: flex;
  align-items: center;

  height: 56px;
}

.logos {
  flex: 1;
}

.logo {
  color: #fff;
  text-decoration: none;

  font-size: 14px;
  font-weight: bold;
}

.search {
  font-size: 11px !important;
  height: 22px !important;
  border-radius: 50px !important;
  padding: 0 10px !important;
}