.list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  margin-top: 4px;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 3px;
}

.info {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 12px;
  font-weight: bold;
}