.list {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  width: fit-content;
}

.head {
  color: #666;
  font-size: 11px;
  font-weight: bold;
}
.headDesc {
  color: #777;
  font-size: 11px;
  margin-top: -6px;
  max-width: 340px;
  cursor: default;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 2px 0;
  margin: -2px 0;

  &:hover {
    color: var(--link);
    font-weight: bold;
  }
}

.radio {
  appearance: none;
  border: none;
  padding: unset;

  background: #fff;
  box-shadow: inset 0 1px 0 0 #ddd;

  border: 1px solid;
  border-color: #ccc;

  width: 14px;
  height: 14px;
  border-radius: 50px;

  &[data-state="checked"] {
    background: #d34c5b;
    border-color: #a02e3b #a02e3b #4e1117;
    box-shadow: 0 1px 0 0 inset #fa9ba6;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator {
  background: #fff;
  box-shadow: inset 0 -1px 0 0 #ddd;
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 50px;
}

.label {
  font-size: 12px;
}