.actions {
  display: flex;
  flex-direction: column;
}

.action {
  appearance: none;
  border: none;
  border-bottom: 1px solid #ddd;

  padding: 5px 10px;

  color: var(--link);

  background: unset;
  font: inherit;
  font-size: 12px;
  text-align: left;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  display: flex;
  align-items: center;
  gap: 6px;
}