.list {
  display: flex;
  flex-direction: column;
}

.song {
  display: flex;
  align-items: center;
  padding: 0 6px;
  gap: 10px;

  --bg: transparent;
  --bg-hov: #e6485a21;

  background-color: var(--bg);

  &:hover {
    background-color: var(--bg-hov);
  }

  border-top: 1px solid #ddd;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.name {
  color: var(--text);
  font-size: var(--font-size-s);
}
.artist {
  color: #333;
  font-size: var(--font-size-xs);
}

.name, .artist {
  width: fit-content;

  &:hover {
    color: var(--link);
  }
}

.time {
  font-size: var(--font-size-xs);
  color: #999;
}

.avatar {
  --w: 40px;
  margin: 0 0 0 -6px;

  width: var(--w);
  height: var(--w);

  background-color: #eee;
  cursor: default;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  font-size: 16px;
  color: #666;
}