.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 4px;
}

.label {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: #666;
}

.input {
  appearance: none;
  background: var(--content-bg);
  border: 1px solid #aaa;
  outline: none;
  height: 24px;
  border-radius: 4px;

  box-shadow: 0 3px 1px inset rgba(0, 0, 0, 0.1);

  width: 250px;

  font: inherit;
  font-size: var(--font-size-s);

  &:focus-visible {
    border: 1px solid #f55d6f;
    box-shadow: 0 3px 1px inset rgba(0, 0, 0, 0.1), 0 0 0 3px #f55d6f25;
  }
}